* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: rgb(109, 67, 0);
}

a:hover {
  color: #d1a65f;
}

header {
  width: 100%;
  height: 60px;
  background-color: rgb(248, 189, 125);
  box-shadow: 0px 0px 10px rgb(119, 78, 2),
    0px 0px 20px rgb(179, 124, 20);
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-radius: 0 0 15px 15px;
}

body {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(254, 215, 173));
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  color: rgb(109, 67, 0);

}

.navbar a {
  margin-left: 1.5rem;
  font-size: 1.5em;
  font-weight: bold;
}

header h1 {
  color: rgb(109, 67, 0);
  text-shadow: 0 0 5px rgb(240, 199, 128);
  text-align: left;
  margin: 5px 0 5px 0;
  display: inline-block;
  font-size: 32px;
  transition: transform 0.1s ease;
}

section {
  min-height: 100vh;
}

@keyframes shake {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(2px, -2px);
  }

  50% {
    transform: translate(-2px, 2px);
  }

  75% {
    transform: translate(2px, 2px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}


.home {

  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 50px 200px;
  margin-top: 70px;
  gap: 80px;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
}

.home-content p {
  font-size: 20px;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid rgb(63, 39, 1);
  border-radius: 50%;
  font-size: 40px;
  color: rgb(14, 9, 1);
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: rgb(240, 214, 172);
  color: #081b29;
  box-shadow: 0 0 20px rgb(63, 39, 1);
}


.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(253, 220, 166);
  border-radius: 40px;
  font-size: 16px;
  color: #da7025;
  /* letter-spacing: 1em; */
  text-decoration: none;
  font-weight: 600;
}

.btn-box:hover {
  box-shadow: 0 0 5px rgb(63, 39, 1),
    0 0 25px rgb(63, 39, 1), 0 0 50px rgb(63, 39, 1),
    0 0 100px rgb(63, 39, 1), 0 0 200px rgb(63, 39, 1);
}

.home .myphoto {
  display: flex;
  justify-content: right;
}

.home .myphoto img {
  width: 350px;
  height: 450px;
  /* box-shadow: 0 0 5px rgb(196, 127, 17),
    0 0 25px rgb(196, 127, 17), 0 0 30px rgb(196, 127, 17),
    0 0 80px rgb(196, 127, 17), 0 0 180px rgb(196, 127, 17); */
  box-shadow: 0px 0px 20px rgb(119, 78, 2),
    0px 0px 30px rgb(179, 124, 20);
  margin-top: -70px;

}

.myphoto:hover {
  animation: shake 0.3s ease;
}

.about {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px 200px;
  position: relative;
  width: 100%;
  height: 100vh;
  gap: 80px;
  justify-content: space-between;
}


.about .about-img {
  flex: 3;
  display: flex;
  justify-content: left;
}

.about .about-img img {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 5px rgb(196, 127, 17),
    0 0 25px rgb(196, 127, 17), 0 0 30px rgb(196, 127, 17),
    0 0 80px rgb(196, 127, 17), 0 0 180px rgb(196, 127, 17);
  margin-top: -70px;


}

.about-img img:hover {
  animation: shake 0.3s ease;
}

.about-text {
  max-width: 500px;
  justify-content: right;
  margin-top: -20px;
}

main .about-text p {
  margin: 0;
  font-size: 20px;
  text-align: left;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: rgb(247, 169, 24);
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  line-height: 1.5;
  margin: 15px 0 30px 0;
}

#interest {

  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4em;
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 10px;
}

.sub-title span {
  color: rgb(247, 169, 24);
}

.interest-box {
  padding: 90px;
}

.interest-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 40px;
}

.interest-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  /* transition: background 0.5s, transform 0.5s; */
  box-shadow: 1px 1px 20px rgb(119, 78, 2),
    1px 1px 30px rgb(179, 124, 20);
}

.interest-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.interest-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.interest-list div p {
  font-size: 19px;
}

.interest-list div:hover {
  transform: translateY(-10px);
}


footer {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(248, 189, 125);
  box-shadow: 0px 0px 10px rgb(119, 78, 2),
    0px 0px 20px rgb(179, 124, 20);
  text-align: center;
  border-radius: 15px 15px 0 0;
  font-size: 25px;
  font-weight: 300;
}

/* ===== Responsive for Tablets ===== */
@media (max-width: 1024px) {

  .home,
  .about {
    padding: 50px 50px;
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }

  .home .myphoto img,
  .about .about-img img {
    width: 300px;
    height: auto;
    margin-top: 0;
  }

  .home-content h1 {
    font-size: 48px;
  }

  .home-content h3 {
    font-size: 28px;
  }

  .home-content p {
    font-size: 18px;
  }

  .about-text h2 {
    font-size: 48px;
  }

  .about-text h4 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 18px;
  }

  .interest-box {
    padding: 50px 20px;
  }

  .sub-title {
    font-size: 48px;
  }
}

/* ===== Responsive for Mobile Phones ===== */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
  }

  .navbar {
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar a {
    margin: 5px 10px;
    font-size: 1.2em;
  }

  .home,
  .about {
    padding: 30px 20px;
    height: auto;
  }

  .home-content h1 {
    font-size: 36px;
  }

  .home-content h3 {
    font-size: 24px;
  }

  .home-content p {
    font-size: 16px;
  }

  .about-text h2 {
    font-size: 36px;
  }

  .about-text h4 {
    font-size: 20px;
  }

  .about-text p {
    font-size: 16px;
  }

  .myphoto img,
  .about-img img {
    width: 250px;
    height: auto;
    margin-top: 0;
  }

  .interest-box {
    padding: 30px 15px;
  }

  .sub-title {
    font-size: 36px;
  }

  .interest-list div {
    padding: 25px;
  }

  .interest-list div h2 {
    font-size: 24px;
  }

  .interest-list div p {
    font-size: 16px;
  }
}

/* ===== Extra Small Devices ===== */
@media (max-width: 480px) {
  header h1 {
    font-size: 24px;
  }

  .navbar a {
    font-size: 1em;
  }

  .home-content h1 {
    font-size: 28px;
  }

  .home-content h3 {
    font-size: 20px;
  }

  .about-text h2 {
    font-size: 28px;
  }

  .sub-title {
    font-size: 28px;
  }

  .interest-list div i {
    font-size: 40px;
  }

  .interest-list div h2 {
    font-size: 20px;
  }

  .interest-list div p {
    font-size: 14px;
  }
}

/* Hamburger button hidden on desktop */
.menu-btn {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
}

.menu-btn .bar {
  height: 4px;
  width: 100%;
  background-color: rgb(109, 67, 0);
  border-radius: 2px;
}

/* Mobile navbar hidden by default */
@media screen and (max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  .navbar {
    display: none;
    /* hide nav by default */
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: rgb(248, 189, 125);
    margin-top: 10px;
    border-radius: 0 0 15px 15px;
  }

  .navbar.active {
    display: flex;
    /* show when toggled */
  }

  .navbar a {
    margin: 10px 0;
    font-size: 1.2em;
  }
}